@model FollowingViewModel
@{
	ViewData["title"] = $"People {Model.User} follows";
}
@if (Model.Error == null)
{
	<div class="text-center">
		<img src="@Model.Avatar" height="200" width="200"/><br><br>
		<a href="https://github.com/@Model.User">
			<h3>People @Model.User follows</h3>
		</a>
		<br>
		<hr>
		<form method="POST" asp-action="GetUser">
			<button id="user" name="user" value="@Model.User">Back to user</button>
		</form>
		<hr>
		<br>
		@if (Model.Following.Count != 0)
		{
			@foreach (Newtonsoft.Json.Linq.JObject o in Model.Following)
			{
				<form method="POST" asp-action="GetUser">
					<img src="@o["avatar_url"]" height="50" width="50"><br><br>
					<button id="user" name="user" value="@o["login"]">@o["login"]</button>
				</form>
				<hr>
			}
		} else
		{
			<div>@Model.User is not following anyone.</div>
		}
	</div>
} else
{
	await Html.RenderPartialAsync("../_SearchError.cshtml");
}