@model GetUserViewModel
@{
	ViewData["Title"] = "User Search Result";
}
@if (String.IsNullOrEmpty(Model.Error)) {
	<div class="text-center">
		<h1 class="display-4">@ViewData["Title"]</h1>
		<img src="@Model.User["avatar_url"]" height="200" width="200"><br>
		<br>
		<a href="@Model.User["html_url"]">
			<h5>@Model.User["login"] @(Model.User["name"].ToString() != "" ? $"({Model.User["name"]})" : "")<h5>
		</a>
		<hr>
		<div class="row text-center">
			<div class="col-md-4">
				<h3 class="followers">Followers</h3>
				<p>
					<a href="https://github.com/@Model.User["login"]?tab=followers">@Model.User["followers"]</a>
				</p>
			</div>
			<div class="col-md-4">
				<h3>Following</h3>
				<p>
					<a href="https://github.com/@Model.User["login"]?tab=following">@Model.User["following"]</a>
				</p>
			</div>
			<div class="col-md-4">
				<h3>Public Repos</h3>
				<p>
					<a href="https://github.com/@Model.User["login"]?tab=repositories">@Model.User["public_repos"]</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3>Looking to be hired</h3>
				<p style="color: darkgreen">
					@(Model.User["hireable"].ToString() != "" ? "Yes" : "No")
				</p>
			</div>
			<div class="col-md-4">
				<h3>Bio</h3>
				<p style="color: darkgreen">
					@(Model.User["bio"].ToString() != "" ? Model.User["bio"] : "User did not set a bio")
				</p>
			</div>
			<div class="col-md-4">
				<h3>Company</h3>
				<p style="color: darkgreen;">
					@(Model.User["company"].ToString() != "" ? Model.User["company"] : "None")
				</p>
			</div>
		</div>
	</div>
}
else
{
		<div class="text-center">
		<h1 class="display-4">@ViewData["Title"]</h1>
		<br><h1>@Model.StatusCode</h1>
		<p>@Model.Error<p>
		<hr>
	</div>
}