@model GetUserViewModel
@{
	ViewData["Title"] = "Result";
}
@if (String.IsNullOrEmpty(Model.Error) == true) {
	<div class="text-center">
		<img src="@Model.User["avatar_url"]" height="200" width="200"><br><br>
		<a href="@Model.User["html_url"]">
			<h3>@Model.User["login"] @(Model.User["name"].ToString() != "" ? $"({Model.User["name"]})" : "")</h3>
		</a>
		<form method="POST" asp-action="Index">
			<button id="user" name="user" value="@Model.User">Back to search</button>
		</form>
		<hr>
		<div class="row text-center">
			<div class="col-md-4">
				<h4>Public Repos</h4>
				<p>
					<form method="POST" asp-action="Repos">
						<button name="user" id="user" value="@Model.User["login"]">@Model.User["public_repos"]</button>
						<input name="avatar" id="avatar" type="hidden" value="@Model.User["avatar_url"]"></input>
					</form>
				</p>
			</div>
			<div class="col-md-4">
				<h4 class="followers">Followers</h4>
				<p>
					<form method="POST" asp-action="Followers">
						<button name="user" id="user" value="@Model.User["login"]">@Model.User["followers"]</button>
						<input name="avatar" id="avatar" type="hidden" value="@Model.User["avatar_url"]"></input>
					</form>
				</p>
			</div>
			<div class="col-md-4">
				<h4>Following</h4>
				<p>
					<form method="POST" asp-action="Following">
						<button name="user" id="user" value="@Model.User["login"]">@Model.User["following"]</button>
						<input name="avatar" id="avatar" type="hidden" value="@Model.User["avatar_url"]"></input>
					</form>
				</p>
			</div>
			<div class="col-md-4">
				<h4>Looking to be hired</h4>
				<p style="color: #050505">
					@(Model.User["hireable"].ToString() != "" ? "Yes" : "No")
				</p>
			</div>
			<div class="col-md-4">
				<h4>Bio</h4>
				<p style="color: #050505">
					@(Model.User["bio"].ToString() != "" ? Model.User["bio"] : "User did not set a bio")
				</p>
			</div>
			<div class="col-md-4">
				<h4>Company</h4>
				<p style="color: #050505">
					@(Model.User["company"].ToString() != "" ? Model.User["company"] : "None")
				</p>
			</div>
		</div>
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-4">@ViewData["Title"]</h1>
		<br><h1>@Model.StatusCode</h1>
		<p>@Model.Error<p>
		<hr>
	</div>
}