@model ReposViewModel
@{
	ViewData["title"] = $"{Model.User}'s Repositories";
}
@if (Model.Error == null)
{
	<div class="text-center">
		<img src="@Model.Avatar" height="200" width="200"/><br><br>
		<a href="https://github.com/@Model.User">
			<h3>@Model.User's repositories</h3>
		</a>
		<br>
		<hr>
		<form method="POST" asp-action="GetUser">
			<button id="user" name="user" value="@Model.User">Back to user</button>
		</form>
		<hr>
		<br>
		<div class="row">
			<div class="col-md-4">
				<b>Repository name</b>
			</div>
			<div class="col-md-4">
				<b>Language</b>
			</div>
			<div class="col-md-4">
				<b>Description</b>
			</div>
		</div>
		<hr>
		@if (Model.Repos.Count != 0)
		{
			@foreach (Newtonsoft.Json.Linq.JObject o in Model.Repos)
			{
				<div class="row">
					<div class="col-md-4">
						<a href="@o["html_url"]">@o["name"]</a><br>
						<p style="font-size: 11px;">(last updated @o["updated_at"])</p>
					</div>
					<div class="col-md-4">
						@(o["language"].ToString() != "" ? o["language"] : "None")
					</div>
					<div class="col-md-4">
						@(o["description"].ToString() != "" ? o["description"] : "None")
					</div>
				</div>
				<hr>
			}
		} else
		{
			<div>No public repositories</div>
		}
	</div>
} else
{
	<div class="text-center">
		<h1 class="display-4">@ViewData["Title"]</h1>
		<br><h1>@Model.StatusCode</h1>
		<p>@Model.Error<p>
		<hr>
	</div>
}